In [1]:
import numpy as np
import random
import pandas as pd

In [29]:
from matplotlib import pyplot as plt

In [2]:
df= pd.concat(pd.read_excel("C:\\Users\\Anu\Downloads\\project_data.xlsx", sheet_name= None),ignore_index= True)

In [3]:
df.head()

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,NaN,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,NaN,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,NaN,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,NaN,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17
4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,NaN,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17

In [4]:
df.shape

(2627926, 10)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627926 entries, 0 to 2627925
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   category         int64
 1   manufacturer     object
 2   part_number      object
 3   sku              object
 4   alt_sku          object
 5   description      object
 6   status           object
 7   qty              int64
 8   price            float64
 9   sku_create_date  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 200.5+ MB

In [6]:
# check if null values are available
df.isnull().sum()

category                 0
manufacturer             0
part_number              0
sku                      0
alt_sku            2613442
description              0
status                   0
qty                      0
price                    0
sku_create_date          0
dtype: int64

In [7]:
df= df.drop(columns=["alt_sku"])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627926 entries, 0 to 2627925
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   category         int64
 1   manufacturer     object
 2   part_number      object
 3   sku              object
 4   description      object
 5   status           object
 6   qty              int64
 7   price            float64
 8   sku_create_date  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 180.4+ MB

In [9]:
# Check if duplocates are available

duplicate=df[df.duplicated()]

In [10]:
duplicate

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date
70,1022,FELLOWES,52045,BA5888,"100PK LAMINATING POUCHES LEGAL, 5MIL",No Stock,0,44.75,2020-08-17
71,1022,FELLOWES,52045,BA5888,"100PK LAMINATING POUCHES LEGAL, 5MIL",No Stock,0,44.75,2020-08-17
72,1022,FELLOWES,52045,BA5888,"100PK LAMINATING POUCHES LEGAL, 5MIL",No Stock,0,44.75,2020-08-17
73,1022,FELLOWES,52045,BA5888,"100PK LAMINATING POUCHES LEGAL, 5MIL",No Stock,0,44.75,2020-08-17
74,1022,FELLOWES,52045,BA5888,"100PK LAMINATING POUCHES LEGAL, 5MIL",No Stock,0,44.75,2020-08-17
...,...,...,...,...,...,...,...,...,...
2627921,9945,VERBATIM CORPORATION,93975,986034,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627922,9945,VERBATIM CORPORATION,93975,986034,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627923,9945,VERBATIM CORPORATION,93975,986034,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627924,9945,VERBATIM CORPORATION,93975,986034,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627925,9945,VERBATIM CORPORATION,93975,986034,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28

In [11]:
df.drop_duplicates(inplace= True)
df.head()

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17
4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17

In [12]:
df.duplicated().sum()

0

In [13]:
df.isnull().sum()

category           0
manufacturer       0
part_number        0
sku                0
description        0
status             0
qty                0
price              0
sku_create_date    0
dtype: int64

In [69]:
#   Devide the data instock and no stock
dfin= df[df['status']=='In Stock']
dfno= df[df['status']=='No Stock']

In [15]:
dfin.tail()

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date
2627894,2240,BELKIN - CABLES,A3X126-10-RED,972494,"10FT CAT5E RED CROSSOVER CABLE, ROHS",In Stock,2,3.84,2020-08-28
2627895,2240,BELKIN - CABLES,A3X126-10-RED,972494,"10FT CAT5E RED CROSSOVER CABLE, ROHS",In Stock,2,3.77,2020-08-28
2627903,2240,BELKIN - CABLES,A3X126-10-RED,972494,"10FT CAT5E RED CROSSOVER CABLE, ROHS",In Stock,2,3.50,2020-08-28
2627912,9945,VERBATIM CORPORATION,93975,986034,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,51.88,2020-08-28
2627913,9945,VERBATIM CORPORATION,93975,986034,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28

In [16]:
dfno.tail()

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date
2627418,3360,TARGUS,AMB580TT,9X4546,"B580 BLUETOOTH MOUSE BLCK,",No Stock,0,19.53,2020-08-28
2627775,505,ENGENIUS,EAP1300,9Z0170,"11AC WAVE 2 INDOOR WRLS AP,",No Stock,0,85.24,2020-08-28
2627822,9910,KINGSTON,HX-MPFS-SM,9Z6619,"HYPERX FURY S PRO GAMING, MOUSE PAD SMALL",No Stock,0,13.75,2020-08-28
2627853,291,KINGSTON TECHNOLOGY FLASH,SD10VG2/16GBCP,9Z8507,"BULK 16GB SDHC CLASS 10 UHS-I, 45R MUST ORDER ...",No Stock,0,16.51,2020-08-28
2627857,291,KINGSTON,IKD300S/4GB,9103LA,"4GB D300S/D300SM AES 256 XTS, ENCRYPTED USB DRIVE",No Stock,0,52.83,2020-08-28

For data In Stock: 

1. Which are the top Manufacturers with price, quantity?
2. Which are the most profitable products? 
3. Which is the product where you have seen a decrease in the price? 
4. Which is the product where you have seen an increase in the price? 
5. Which is the top category by price and quantity? 
6. Which products are aging? 
7. How to Decrease Product aging?

1 Which are the top Manufacturers with price, quantity?

In [17]:
manufacturer_price= dfin.groupby('manufacturer', as_index=False)['price'].max().sort_values('price', ascending= False)

In [18]:
manufacturer_price.head(10)

                 manufacturer     price
315           HPE - SWITCHING  69729.03
311          HPE - NIMBLE BTO  40893.99
303       HPE - ARUBA INSTANT  35554.13
529              PULSE SECURE  23423.40
444     MELLANOX TECHNOLOGIES  20144.08
132           CISCO  HW VIDEO  17356.11
243       FLUKE NETWORKS CORE  16999.12
476          NETALLY HH TOOLS  15082.98
316         HPE - TOP OF RACK  14558.86
612  SONICWALL - NSA HARDWARE  13150.27

In [19]:
manufacturer_qty = dfin.groupby('manufacturer', as_index= False)['qty'].max().sort_values('qty', ascending= False)

In [20]:
manufacturer_qty.head(10)

                           manufacturer    qty
181         DELL CSG SERVICE WARRANTIES  60063
147                            CONFIG 6  59994
639                                 TMS  59994
184                 DELL ESG WARRANTIES  49995
459                      MICROSOFT- ESD  49995
637                TEST VENDOR NUMBER 6  39996
334                       IMCE SERVICES  39996
332  IM CHOICE ADVANTAGE - TECH SUPPORT  39996
331         IM CHOICE ADVANTAGE - GOVED  39996
290       HP INC. - SB DESKTOP DISPLAYS  38634

2 Which are the most profitable products?

In [21]:
dfin['profit'] = dfin['qty'] * dfin['price']

<ipython-input-21-33d4429fcb22>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfin['profit'] = dfin['qty'] * dfin['price']

In [22]:
dfin.head()

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date,profit
253,9920,CASE LOGIC-PERSONAL & PORTABLE,3200943,BA6371,"LAPTOP ROLLING CASE BLACK, SECURITY FRIENDLY 17IN",In Stock,7,99.00,2020-08-17,693.00
271,531,OMNITRON SYSTEMS,7206-0,BA6834,"1000BASE-SX SFP LC/MM/DF 850NM, 550M PLUGGABLE...",In Stock,2,59.09,2020-08-17,118.18
320,9070,ZEBRA ENTERPRISE MCD-A1,SAC5070-800CR,BC0227,"RS507 8SLOT BATTERY CHARGE KIT, EXT PWR SUPL/U...",In Stock,3,500.06,2020-08-17,1500.18
324,9080,ZEBRA ENTERPRISE MCD-A1,KT-CLMPT-RS507-01R,BC0232,"RS507 TRIGGER SWIVEL DOES NOT, INCLUDE STRAP/B...",In Stock,115,86.34,2020-08-17,9929.10
326,9080,ZEBRA ENTERPRISE MCD-A1,KT-PAD-RS507-10R,BC0234,"10 CT COMFORT PADS FOR RS507,",In Stock,42,51.80,2020-08-17,2175.60

In [27]:
most_profit_product = dfin.groupby('description', as_index= False)['profit'].max().sort_values('profit', ascending= False)

In [28]:
most_profit_product.head(10)

                                             description       profit
8346                           3YR NBD TO 5YR PROSPT 4H,  42358763.70
10637                               5YR PROSUPPORT PLUS,  38003399.28
17947    FED ADVANTAGE CONTRACT SUPPORT-, STARTING LEVEL  25022497.50
8381                                3YR PROSUPPORT PLUS,  23750924.67
8380                    3YR PROSUPPORT MISSION CRITICAL,  22838315.94
8308                    3YR BASIC ONSITE TO 5YR PROSUPT,  21319067.88
18747  GSA PASS THROUGH SVC 12MO SUBS, EMAIL SO#:GOVE...  20017998.00
8383                                     3YR PROSUPPORT,  19762223.58
22395  OFFICE PRO 2019 ALL LNG.DWNLD, ESD ** NO RETUR...  18178681.95
8300                 3YR BASIC ONSITE TO 3YR PROSPT, 4HR  17970802.74

3 Which is the product where you have seen a decrease in the price?

In [38]:
dfin=dfin.sort_values(['description','sku_create_date'],ascending=(False,True))
dfin.head()

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date,profit,difference
404348,32,SUPERMICRO - COMPONENTS,SYS-5018D-FN4T,ZQ8015,"[NR]XEON D X10SDV-TLN4F, 505-203B",In Stock,5,1156.32,2020-08-17,5781.60,0.0
1669418,32,SUPERMICRO - COMPONENTS,SYS-5018D-FN4T,ZQ8015,"[NR]XEON D X10SDV-TLN4F, 505-203B",In Stock,5,1156.32,2020-08-24,5781.60,0.0
2350854,32,SUPERMICRO - COMPONENTS,SYS-5018D-FN4T,ZQ8015,"[NR]XEON D X10SDV-TLN4F, 505-203B",In Stock,4,1156.32,2020-08-25,4625.28,0.0
2433897,32,SUPERMICRO - COMPONENTS,SYS-5018D-FN4T,ZQ8015,"[NR]XEON D X10SDV-TLN4F, 505-203B",In Stock,3,1156.32,2020-08-26,3468.96,0.0
401749,32,SUPERMICRO - COMPONENTS,SSG-6038R-E1CR16L,ZN2792,"[NR]X10DRH-IT, CSE-836BTS-R920BP",In Stock,1,1927.91,2020-08-17,1927.91,0.0

In [39]:
dfin['difference']= dfin.groupby('description')['price'].diff().fillna(0)

In [40]:
dfin.head(10)

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date,profit,difference
404348,32,SUPERMICRO - COMPONENTS,SYS-5018D-FN4T,ZQ8015,"[NR]XEON D X10SDV-TLN4F, 505-203B",In Stock,5,1156.32,2020-08-17,5781.60,0.0
1669418,32,SUPERMICRO - COMPONENTS,SYS-5018D-FN4T,ZQ8015,"[NR]XEON D X10SDV-TLN4F, 505-203B",In Stock,5,1156.32,2020-08-24,5781.60,0.0
2350854,32,SUPERMICRO - COMPONENTS,SYS-5018D-FN4T,ZQ8015,"[NR]XEON D X10SDV-TLN4F, 505-203B",In Stock,4,1156.32,2020-08-25,4625.28,0.0
2433897,32,SUPERMICRO - COMPONENTS,SYS-5018D-FN4T,ZQ8015,"[NR]XEON D X10SDV-TLN4F, 505-203B",In Stock,3,1156.32,2020-08-26,3468.96,0.0
401749,32,SUPERMICRO - COMPONENTS,SSG-6038R-E1CR16L,ZN2792,"[NR]X10DRH-IT, CSE-836BTS-R920BP",In Stock,1,1927.91,2020-08-17,1927.91,0.0
1666825,32,SUPERMICRO - COMPONENTS,SSG-6038R-E1CR16L,ZN2792,"[NR]X10DRH-IT, CSE-836BTS-R920BP",In Stock,1,1927.91,2020-08-24,1927.91,0.0
401746,32,SUPERMICRO - COMPONENTS,SSG-6028R-E1CR12L,ZN2789,"[NR]X10DRH-IT, CSE-826BTS-R920LPBP-1",In Stock,4,1770.87,2020-08-17,7083.48,0.0
1666822,32,SUPERMICRO - COMPONENTS,SSG-6028R-E1CR12L,ZN2789,"[NR]X10DRH-IT, CSE-826BTS-R920LPBP-1",In Stock,4,1770.87,2020-08-24,7083.48,0.0
444414,32,SUPERMICRO - COMPONENTS,SYS-1028GQ-TRT,1V2901,"[NR]X10DGQ-O-P 118GHE-R2K03B, 4BAY 2000W RPS",In Stock,1,2094.36,2020-08-17,2094.36,0.0
1709249,32,SUPERMICRO - COMPONENTS,SYS-1028GQ-TRT,1V2901,"[NR]X10DGQ-O-P 118GHE-R2K03B, 4BAY 2000W RPS",In Stock,1,2094.36,2020-08-24,2094.36,0.0

In [44]:
sum_diff= dfin.groupby('description',as_index=False)['difference'].sum().sort_values('difference', ascending=False)
sum_diff.head(10)

                                             description  difference
10637                               5YR PROSUPPORT PLUS,     2013.43
8381                                3YR PROSUPPORT PLUS,     1258.20
8380                    3YR PROSUPPORT MISSION CRITICAL,     1194.13
8383                                     3YR PROSUPPORT,      923.94
4786   20PK 14000GB ULTRA SAS 3.5IN, 26.1MM 512MB 720...      880.00
4787   20PK 14000GB ULTRA SAS 7200RPM, 3.5IN 26.1MM 5...      880.00
8346                           3YR NBD TO 5YR PROSPT 4H,      650.46
4784   20PK 12TB SATA 7200 RPM 256MB, 3.5IN 26.1MM UL...      520.00
4777   20PK 12TB 256MB SATA UTLRA, 3.5IN 7200RPM 512 ...      520.00
4783   20PK 12TB SATA 7200 RPM 256MB, 3.5IN 26.1MM UL...      520.00

5 Which is the top category by price and quantity?

In [48]:
price_category= dfin.groupby('category', as_index= False)['price'].max().sort_values('price',ascending=False)
price_category.head(10)

    category     price
34       521  69729.03
17       295  40893.99
33       505  35554.13
40       661  23423.40
36       531  18251.60
31       481  17356.11
39       573  16999.12
71      1701  12584.60
54      1302  12268.20
9        211  11514.05

In [50]:
qqt_category= dfin.groupby('category',as_index=False)['qty'].max().sort_values('qty', ascending=False)
qqt_category

     category    qty
50       1221  60063
53       1251  59994
122      9920  59994
52       1241  59994
61       1539  49995
..        ...    ...
114      9060      2
26        403      1
100      5012      1
56       1511      1
107      9015      1

[135 rows x 2 columns]

For Data Not in Stock 

8. Which are the top Manufacturers with price, quantity? 
9. Which are the most profitable products? 
10. Which is the product where you have seen a decrease in the price? 
11. Which is the product where you have seen an increase in the price? 
12. Which is the top category by price and quantity?

In [51]:
dfno.head(10)

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17
4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17
5,1539,MS-OPEN VALUE SUBSCRIPTION,079-04668,BA0095,"1YR PWRPOINT ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17
6,1539,MS-OPEN VALUE SUBSCRIPTION,125-00511,BA0224,"1YR VSTEAMFNDTNSVR ALNG LICSAPK, OLV D AP",No Stock,0,125.15,2020-08-17
7,1539,MS-OPEN VALUE SUBSCRIPTION,126-01023,BA0249,"1YR VSTEAMFNDTNSVRCAL ALNG, LICSAPK OLV D AP D...",No Stock,0,124.76,2020-08-17
8,1539,MS-OPEN VALUE SUBSCRIPTION,126-01024,BA0250,"1YR VSTEAMFNDTNSVRCAL ALNG, LICSAPK OLV D AP U...",No Stock,0,143.58,2020-08-17
9,1539,MS-OPEN VALUE SUBSCRIPTION,164-05581,BA0291,"1YR PBLSHR ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17

In [56]:
ns_manufacturer_price= dfno.groupby('manufacturer', as_index= False)['price'].max().sort_values('price', ascending= False)
ns_manufacturer_price.head(10)

                         manufacturer        price
57                             ALTNET  84974533.10
717              JUNIPER ROW SERVICES  10449000.00
709        JUNIPER ENTERPRISE ROUTING   5600000.00
231            CISCO - CCW MULTI YEAR   4700430.00
590       HPE - ENTERPRISE NETWORKING   4173518.27
636                     IGEL SOFTWARE   3609856.25
779         LENOVO DCG SERVER OPTIONS   3552553.59
1111  SECURE CHANNELS INC DIRECT SHIP   2447266.55
980                      PLANAR DVLED   1939032.30
596              HPE - SERVER OPTIONS   1627920.00

In [58]:
ns_manufacturer_qty= dfno.groupby('manufacturer', as_index=False)['qty'].max().sort_values('qty', ascending=False)
ns_manufacturer_qty.head(10)

                      manufacturer  qty
0                          22MILES    0
977     PHOENIX AUDIO TECHNOLOGIES    0
953           PANASONIC PANABOARDS    0
952  PANASONIC FLAT PANEL DISPLAYS    0
951                  PANASONIC CTO    0
950              PANASONIC BATTERY    0
949  PANASONIC ARBITRATORS - I-PRO    0
948          PANASONIC ACCESSORIES    0
947         PANASONIC - HEADPHONES    0
946               OVERLAND STORAGE    0

9. Which are the most profitable products?

In [62]:
ns_mst_profit= dfno.groupby('description', as_index= False)['price'].max().sort_values('price', ascending= False)
ns_mst_profit.head()

                                              description        price
129283  ALTNET TPM UP TO 240000000 USD, LIST MNT UPTO ...  84974533.10
129756  ALTNET TPM UP TO 80000000 USD, LIST MNT UPTO 8...  28324844.37
251188                  ROW 5YR SWA SUP FOR, JCE-1000GBPS  10449000.00
251184                  ROW 3YR SWA SUP FOR, JCE-1000GBPS   6966000.00
8598                 1000 UNIT BNDL OF, QSFP-100GBASE-LR4   5600000.00

10. Which is the product where you have seen a decrease in the price?

In [70]:
dfno= dfno.sort_values(['description','sku_create_date'], ascending= (False,True))
dfno.head()

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date
425544,32,SUPERMICRO - COMPONENTS,SYS-6017R-WTRFTP+,1F4786,"[NR]X9DRW-ITPF + AND, CSE-819TQ-R700WB",No Stock,0,1221.72,2020-08-17
1690526,32,SUPERMICRO - COMPONENTS,SYS-6017R-WTRFTP+,1F4786,"[NR]X9DRW-ITPF + AND, CSE-819TQ-R700WB",No Stock,0,1221.72,2020-08-24
444510,5,SUPERMICRO - COMPONENTS,HNW0-15026364-HADP,1V3117,"[NR]X9DRW-IF CSE-815TQ-R500WB,",No Stock,0,4109.53,2020-08-17
1709345,5,SUPERMICRO - COMPONENTS,HNW0-15026364-HADP,1V3117,"[NR]X9DRW-IF CSE-815TQ-R500WB,",No Stock,0,4109.53,2020-08-24
444511,32,SUPERMICRO - COMPONENTS,HNWX-19026364-HADP,1V3118,"[NR]X9DRW-7TPF 819TQ-R700WB,",No Stock,0,4094.95,2020-08-17

In [71]:
dfno['difference']= dfno.groupby('description')['price'].diff().fillna(0)
dfno.head()

,category,manufacturer,part_number,sku,description,status,qty,price,sku_create_date,difference
425544,32,SUPERMICRO - COMPONENTS,SYS-6017R-WTRFTP+,1F4786,"[NR]X9DRW-ITPF + AND, CSE-819TQ-R700WB",No Stock,0,1221.72,2020-08-17,0.0
1690526,32,SUPERMICRO - COMPONENTS,SYS-6017R-WTRFTP+,1F4786,"[NR]X9DRW-ITPF + AND, CSE-819TQ-R700WB",No Stock,0,1221.72,2020-08-24,0.0
444510,5,SUPERMICRO - COMPONENTS,HNW0-15026364-HADP,1V3117,"[NR]X9DRW-IF CSE-815TQ-R500WB,",No Stock,0,4109.53,2020-08-17,0.0
1709345,5,SUPERMICRO - COMPONENTS,HNW0-15026364-HADP,1V3117,"[NR]X9DRW-IF CSE-815TQ-R500WB,",No Stock,0,4109.53,2020-08-24,0.0
444511,32,SUPERMICRO - COMPONENTS,HNWX-19026364-HADP,1V3118,"[NR]X9DRW-7TPF 819TQ-R700WB,",No Stock,0,4094.95,2020-08-17,0.0

In [73]:
dec_price= dfno.groupby('description', as_index= False)['difference'].sum().sort_values('difference', ascending= True)
dec_price.head()

                                              description  difference
154656  CCW ONLY SWSS UPG 3YR DISTI, TR-069 MGMT FOR 6... -2157547.75
186527                 DIRECTLIGHT 24X6, DL2 0.9 ROOM 250 -1884383.25
154600  CCW ONLY SWSS UPG 3YR DISTI, SO=INTELL AUTOCLD...  -879480.00
238280              QUANTITY 150 OF ES0H 775GB SSD, SFF 2  -868054.30
238325                QUANTITY 150 OF ESGP 1 55TB SAS, 4K  -780127.17

11 Which is the product where you have seen an increase in the price?

In [74]:
inc_price= dfno.groupby('description', as_index= False)['difference'].sum().sort_values('difference', ascending=False)
inc_price.head()

                                              description  difference
254151  SCI MANAGED SVCS ENTERPRISE, SECURITY MONITORI...  2141358.23
254152  SCI MANAGED SVCS PROF SECURITY, MONITORING MNT...  1427572.15
153776  CCW ONLY SWSS UPG 3YR DISTI SO=, CSC IA CLD 3....  1400700.00
200357  FED MC + ADDL MCS COVERAGE ALA, WRKSPCE1 PRODU...   980773.60
238283  QUANTITY 150 OF ES0S 775GB SFF, 2 4K SSD AIX L...   961685.68

12 Which is the top category by price and quantity?

In [75]:
cat_price= dfno.groupby('category', as_index= False)['price'].max().sort_values('price', ascending= False)
cat_price.head(10)

    category        price
54      1231  84974533.10
55      1241  10449000.00
53      1221   4700430.00
72      1577   4173518.27
61      1512   3609856.25
64      1535   3552553.59
5         34   3174421.25
39       541   2184000.00
23       317   1939032.30
42       661   1238440.09

In [77]:
cat_qty= dfno.groupby('category', as_index= False)['qty'].max().sort_values('qty', ascending= False)
cat_qty.head(10)

     category  qty
0           1    0
105      3370    0
98       3001    0
99       3002    0
100      3320    0
101      3330    0
102      3340    0
103      3350    0
104      3360    0
106      3390    0